In [60]:
import pandas as pd

In [61]:
accessions = pd.read_csv('2029gaccession.csv')
accessions.head()

,V1,V2,V3,V4,V5,V6,name,country,latitude,longitude,collector,collection_date,cs_number,species
0,1,1,0,0,0,1,ALL1-2,France,45.2667,1.48333,Valerie Le Corre,NaN,NaN,Arabidopsis thaliana
1,2,2,0,0,0,1,ALL1-3,France,45.2667,1.48333,Valerie Le Corre,NaN,NaN,Arabidopsis thaliana
2,4,4,0,0,0,1,ALL1-5,France,45.2667,1.48333,Valerie Le Corre,NaN,NaN,Arabidopsis thaliana
3,5,5,0,0,0,1,ALL1-6,France,45.2667,1.48333,Valerie Le Corre,NaN,NaN,Arabidopsis thaliana
4,6,6,0,0,0,1,ALL1-7,France,45.2667,1.48333,Valerie Le Corre,NaN,NaN,Arabidopsis thaliana

In [62]:
climate = pd.read_csv("2029gclimate.csv")
climate.head()

,bio1,bio2,bio3,bio4,bio5,bio6,bio7,bio8,bio9,bio10,...,pet3,pet4,pet5,pet6,pet7,pet8,pet9,pet10,pet11,pet12
0,117.0,106.0,41.0,5492.0,259.0,3.0,256.0,55.0,81.0,187.0,...,2.2,3.7,5.2,6.3,6.3,5.2,3.4,1.5,0.35,0.0
1,117.0,106.0,41.0,5492.0,259.0,3.0,256.0,55.0,81.0,187.0,...,2.2,3.7,5.2,6.3,6.3,5.2,3.4,1.5,0.35,0.0
2,117.0,106.0,41.0,5492.0,259.0,3.0,256.0,55.0,81.0,187.0,...,2.2,3.7,5.2,6.3,6.3,5.2,3.4,1.5,0.35,0.0
3,117.0,106.0,41.0,5492.0,259.0,3.0,256.0,55.0,81.0,187.0,...,2.2,3.7,5.2,6.3,6.3,5.2,3.4,1.5,0.35,0.0
4,117.0,106.0,41.0,5492.0,259.0,3.0,256.0,55.0,81.0,187.0,...,2.2,3.7,5.2,6.3,6.3,5.2,3.4,1.5,0.35,0.0

In [63]:
accessions_climate = accessions.join(climate, how='inner')
accessions_climate.head()

,V1,V2,V3,V4,V5,V6,name,country,latitude,longitude,...,pet3,pet4,pet5,pet6,pet7,pet8,pet9,pet10,pet11,pet12
0,1,1,0,0,0,1,ALL1-2,France,45.2667,1.48333,...,2.2,3.7,5.2,6.3,6.3,5.2,3.4,1.5,0.35,0.0
1,2,2,0,0,0,1,ALL1-3,France,45.2667,1.48333,...,2.2,3.7,5.2,6.3,6.3,5.2,3.4,1.5,0.35,0.0
2,4,4,0,0,0,1,ALL1-5,France,45.2667,1.48333,...,2.2,3.7,5.2,6.3,6.3,5.2,3.4,1.5,0.35,0.0
3,5,5,0,0,0,1,ALL1-6,France,45.2667,1.48333,...,2.2,3.7,5.2,6.3,6.3,5.2,3.4,1.5,0.35,0.0
4,6,6,0,0,0,1,ALL1-7,France,45.2667,1.48333,...,2.2,3.7,5.2,6.3,6.3,5.2,3.4,1.5,0.35,0.0

In [64]:

accessions_climate["Sequence"] = None

with open("pseudogenomes_CAM5.fa", "r") as r:
    lines = r.readlines()
    for i in range(len(lines)):
        if lines[i].startswith(">"):
            accession = lines[i].strip().split("|")[3]
            if i + 1 < len(lines):
                seq = lines[i + 1].strip()
                mask = accessions_climate['V1'].astype(str) == accession
                accessions_climate.loc[mask, 'Sequence'] = seq

accessions_climate = accessions_climate[accessions_climate['Sequence'].notna()]

In [67]:
accessions_climate = accessions_climate[accessions_climate['Sequence'].notna()]
accessions_climate.head()

,V1,V2,V3,V4,V5,V6,name,country,latitude,longitude,...,pet4,pet5,pet6,pet7,pet8,pet9,pet10,pet11,pet12,Sequence
29,88,88,0,0,0,1,CYR,France,47.4000,0.683333,...,3.5,5.1,6.1,6.1,4.9,3.1,1.2,0.20,0.0000,CGGATCTATCTCGATAATAATCTCTAACTTAATCGTNTTTTAGTCT...
36,108,108,0,0,0,1,LDV-18,France,48.5167,-4.066670,...,2.9,4.1,5.0,4.9,4.0,2.3,1.0,0.19,0.0000,CGGANNNNNNNNNNNNNTAATCTCTAACTTAATCGTNTTTTAGTCT...
43,139,139,0,0,0,1,LDV-46,France,48.5167,-4.066670,...,2.9,4.1,5.0,4.9,4.0,2.3,1.0,0.19,0.0000,CGGATCTATCTCGATAATAATCTCTAACTTAATCGTNTTTTAGTCT...
51,159,159,0,0,0,1,MAR2-3,France,47.3500,3.933330,...,3.3,4.8,5.7,5.7,4.6,2.8,1.1,0.19,0.0000,CNGATCTATCTCGATAATAATCTCTAACTTAATCGTNTTTTANTCT...
117,265,265,0,0,0,1,PYL-6,France,44.6500,-1.166670,...,4.2,5.7,6.7,6.7,5.7,3.8,1.8,0.45,0.0082,CNGANNTATCTCGNTAATAATCTCTAACTTAATCGTNTTTTAGTCT...

In [70]:
accessions_climate = accessions_climate.sort_values("bio1")

with open("sequences_sorted.fa", "w") as f:
    for index, row in accessions_climate.iterrows():
        f.write(f">{row['V1']}|{row['name']}|{row['bio1']}\n{row['Sequence']}\n")

In [68]:
accessions_climate[accessions_climate["name"] == "Col-0"]

,V1,V2,V3,V4,V5,V6,name,country,latitude,longitude,...,pet4,pet5,pet6,pet7,pet8,pet9,pet10,pet11,pet12,Sequence
929,6909,6909,0,0,0,1,Col-0,US,38.3,-92.3,...,4.4,6.0,7.0,7.2,6.2,4.3,2.3,0.94,0.38,CGGATCTATCTCGATAATAATCTCTAACTTAATCGTNTTTTAGTCT...

In [ ]:
from Bio import pairwise2
from Bio.Seq import Seq

# Choose the reference sequence (for example, accession '19951')
col0 = 6909
ref_seq = accessions_climate.loc[accessions_climate['V1'] == col0, 'Sequence'].values[0]

# Store alignments in a list
alignments = []
for idx, row in accessions_climate.iterrows():
    seq_id = row['V1']
    seq = row['Sequence']
    aln = pairwise2.align.globalxx(ref_seq, seq, one_alignment_only=True)
    alignments.append({'ref': col0, 'query': seq_id, 'score': aln[0].score, 'alignment': aln[0]})

# Example: print alignment scores for the first 5
for aln in alignments[:5]:
    print(f"Ref: {aln['ref']} Query: {aln['query']} Score: {aln['score']}")

/Users/kinseylong/Desktop/MoiLab/.conda/lib/python3.11/site-packages/Bio/pairwise2.py:278: BiopythonDeprecationWarning: Bio.pairwise2 has been deprecated, and we intend to remove it in a future release of Biopython. As an alternative, please consider using Bio.Align.PairwiseAligner as a replacement, and contact the Biopython developers if you still need the Bio.pairwise2 module.
  warnings.warn(
Exception ignored in: <bound method IPythonKernel._clean_thread_parent_frames of <ipykernel.ipkernel.IPythonKernel object at 0x103abb090>>
Traceback (most recent call last):
  File "/Users/kinseylong/Desktop/MoiLab/.conda/lib/python3.11/site-packages/ipykernel/ipkernel.py", line 775, in _clean_thread_parent_frames
    def _clean_thread_parent_frames(

KeyboardInterrupt:
Exception ignored in: <bound method IPythonKernel._clean_thread_parent_frames of <ipykernel.ipkernel.IPythonKernel object at 0x103abb090>>
Traceback (most recent call last):
  File "/Users/kinseylong/Desktop/MoiLab/.conda/lib/python3.11/site-packages/ipykernel/ipkernel.py", line 775, in _clean_thread_parent_frames
    def _clean_thread_parent_frames(

KeyboardInterrupt:

In [ ]:
#

In [ ]:
len("""
gtgaggaaactattctcatatcttttctctctttttctttctttctttttt
tgaattgaacaactctgattattgctttattctatgtttgactgttcattattatgcattcgtcccaaatttcatgttatgaactattttgtgactttgggttaaattatttgtttggaa
gtttttagtttattttatattatgtgaagtaccattgtaatggtcgttgaaaaagctatctcttggtattagtacttttttattttattgtattttatagtttgcaatgtttgttaaaaa
aaaaaagggttatttgtgtgattaaaatttgtaggaaaaatgtctgaaaacattatatcggtagtattaaaagcttagaattttttatttttttttaaattgttggtcaatttggaaatt
cccctattttttagaggaatgttggcaataatccatataatttgagtcaaattaaaatatgtttttcttattttacggttcatataagaaaataagtaaactgttagaaaaaagtattat
catttgtaacgattaaaacaagagataaaatttaggaaatacgaaaaagggttaaagaaaaacataacttccatttcattttttctttcaaaagttttcaagcttcagttctctttttcc
ccacttcaactttcagctttgtaaataacattcgtgtttttcttgattcaatatattctacattttaacaaaaacaaataaaaagtggtgtatgcatacagtagttattcgtgaggtaga
acgtaattgtttaaattaaaaggcagatatgttttggggaataaaatcaaaaatggatggtaagtagcaaaagctagatagatgaaatgagaatctccaaacctttaattatgactgaac
ttttttgttggtaaccagta-tttttatttttacttttttttgttacaaggcttagtttcttctttttcttttaaatattatcg--aatcttgatacctaattattttaaaatgtttgta
atttattag
""")

1031